@font-face {
  font-family: 'Roboto-Condensed';
  src: url("../assets/fonts/RobotoCondensed-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url("../assets/fonts/RobotoCondensed-Regular.woff");
  font-style: normal;
  font-weight: 400;
}