@mixin fontz($ff, $fw, $fs, $fst) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  font-style: $fst;
}

%section-subTitle {
  text-transform: uppercase;
  color: $black;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  @include fontz('Roboto-Condensed', 400, 18px, normal);
}

%section-title {
  text-transform: uppercase;
  text-align: center;
  color: $black;
  @include fontz('Roboto-Condensed', 700, 48px, normal);
}

%text-default {
  @include fontz('Roboto-Condensed', 400, 16px, normal);
}

%bottom-border-primary {
  border-bottom: 15px solid $primary;
}

%span-primary {
  @include fontz('Roboto-Condensed', 400, 14px, normal);
  color: darken($primary, 30%);
  text-transform: uppercase;
}

%default-btn {
  @include fontz('Roboto-Condensed', 400, 16px, normal);
  background: $primary;
  color: $black;
  border-radius: 12px;
  padding: 18px 40px;
  text-transform: uppercase;
}

%secondary-btn {
  @include fontz('Roboto-Condensed', 400, 16px, normal);
  text-transform: uppercase;
  background: $black;
  padding: 18px 40px;
  backdrop-filter: blur(80px);
  border-radius: 12px;
  color: $primary;
}