.pray-section {
  margin-top: $section-margin;
}

.pray-section__body {
  padding: $padding-default;
}

.pray-section__subTitle {
  @extend %section-subTitle
}

.pray-section__title {
  @extend %section-title
}

.pray-section__text {

  @extend %text-default;
  color: $black;
  text-align: center;
  max-width: 900px;
  margin: 50px auto;
}

.pray-section__photoalbum-block {
  display: grid;
  grid-template-columns: 1fr;
}

.pray-section__photoalbum-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  img {
    width: 100%;
    object-fit: cover;
    align-self: end;
    height: 90%;
    border-radius: 22px;

    &[data-height] {
      align-self: start;
      height: 85%;
    }
  }
}

.pray-section__btn {
  margin-top: 40px;
  max-width: 200px;
  @extend %default-btn;

}