.events-section {
  margin: $section-margin 0;
}

.events-body {
  padding: $padding-default;
}

.events-subTitle {
  @extend %section-subTitle;
}

.events-title {
  @extend %section-title;
}

.events-list__block {
  margin-top: 70px;
}

.events-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.event-date-info {
  text-transform: capitalize;
  display: block;
  @include fontz('Roboto-Condensed', 400, 18px, normal);
  color: $black;
}

.event-date {
  font-size: 16px;
}

.event-date__block {
  margin: 40px 0px 20px 0px
}
