@media screen and (max-width: 996px) {
  .advt-item {
    padding: $padding-default;
  }

  .mini-advt__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .advt-item__text {
    max-width: 430px;
  }
}